# Environnement Python
venv/
__pycache__/
*.pyc

# Base de données (Sécurité pour ne pas fuiter les données de la banque)
*.db
*.sqlite3

# Frontend React
frontend/node_modules/
frontend/dist/
.env

# Fichiers de compilation et exécutables
build/
dist/
*.exe
*.spec